{{ define "main" }}
    <div class="index-content">
        {{ .Content }}
    </div>

    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ range $pages }}
        <div class="post-short-list">
            {{ partial "postInfo.html" . }}
            <header class="post-header">
                <p class="post-title{{ if .Params.favorite }} favorite{{end}}{{ if .Params.draft }} draft{{end}}"><a href="{{ .RelPermalink }}">{{ trim .Title " " }}</a></p>
            </header>
        </div>
    {{ end }}

{{ end }}