{{ if or ( .Paginator.HasPrev ) ( .Paginator.HasNext ) }}
    <div class="pagination">
        <div class="left pagination-item {{ if not .Paginator.HasPrev }}disabled{{ end }}">
            {{ if .Paginator.HasPrev }}
                <a href="{{ .Paginator.Prev.URL | relLangURL }}">to new posts</a>
            {{ end }}
        </div>
        <div class="right pagination-item {{ if not .Paginator.HasNext }}disabled{{ end }}">
            {{ if .Paginator.HasNext }}
                <a href="{{ .Paginator.Next.URL | relLangURL }}">to old posts</a>
            {{ end }}
        </div>
    </div>
{{ end }}
